# Asteroid Scaling:

Sacling was calculated when processing Tetrahedron Center of Masses (CM) using `Asteroid_CM.py`

In [3]:
import numpy as np

## (486958) Arrokoth

Source: https://science.nasa.gov/solar-system/kuiper-belt/arrokoth-2014-mu69/facts/

Arrokoth's dimensions are roughly 
\begin{align}
    Length = 30 km\\
    Width  = 20 km\\
    thick  = 10 km
\end{align}

Scaled to: $\gamma$ = 1.003738848598423

In [8]:
########
# Find the mean 
Mean_Diamter_Arrokoth = (30+20+10)/3
###
# Standard Dev

Arrokoth_Error = np.std(np.array([30,20,10]))
Arrokoth_Out = f"""
{'-'*42}
| Mean Diameter = {Mean_Diamter_Arrokoth} +/- {Arrokoth_Error:.3f} km
| Mean_Radius   = {Mean_Diamter_Arrokoth/2} +/- {Arrokoth_Error:.3f} km
{'-'*42}
"""
print(Arrokoth_Out)

------------------------------------------
| Mean Diameter = 20.0 +/- 8.165 km
| Mean_Radius   = 10.0 +/- 8.165 km
------------------------------------------

## (2991) Biblo

From: https://3d-asteroids.space/asteroids/2991-Bilbo

Mean Diameter = 7.8180 km

Mean raduis = 3.909 km

Scaled to: $\gamma$ = 5.100563165342119

## (1865) Cerberus

From: https://3d-asteroids.space/asteroids/1865-Cerberus

Mean Diameter = 1.2000 km

Mean raduis = 0.6000 km

Scaled to: $\gamma$ =  0.4700320526985952

# (1419) Danzig

From: https://3d-asteroids.space/asteroids/1419-Danzig

Mean Diameter = 14.997 km

Mean raduis = 7.4985 km

Scaled to: $\gamma$ =  9.273520448812137

# (164) Eva

From: https://3d-asteroids.space/asteroids/164-Eva

Mean Diameter = 100.25 km

Mean raduis = 50.125 km

Scaled to: $\gamma$ = 74.20189405027513

# (8) Flora

From: https://3d-asteroids.space/asteroids/8-Flora

Mean Diameter = 147.49 km

Mean raduis = 73.745 km 

Scaled to: $\gamma$ = 1.0161368060728935

# (1620) Geographos

From: https://3d-asteroids.space/asteroids/1620-Geographos

Mean Diameter = 2.5600 km

Mean raduis = 1.2800 km

Scaled to: $\gamma$ = 0.8604483326862341

# (624) Hektor

From: https://3d-asteroids.space/asteroids/624-Hektor

Mean Diameter = 225.00 km

Mean raduis = 112.500km

Scaled to: $\gamma$ = 125.1552869904105

# (7) Iris

From: https://3d-asteroids.space/asteroids/7-Iris

Mean Diameter = 199.83 km

Mean raduis = 99.915 km

Scaled to: $\gamma$ = 0.9397839352627169

# (89) Julia

From: https://3d-asteroids.space/asteroids/89-Julia

Mean Diameter = 145.48 km

Mean raduis = 72.74 km

Scaled to: $\gamma$ =  0.9015971003020035

# (216) Kleopatra

From: https://3d-asteroids.space/asteroids/216-Kleopatra

Mean Diameter = 122.00 km

Mean raduis = 61 km

Scaled to: $\gamma$ = 0.8133640395837609

# (1930) Lucifer

From: https://3d-asteroids.space/asteroids/1930-Lucifer

Mean Diameter = 34.437 km

Mean raduis = 17.2185 km

Scaled to: $\gamma$ = 21.57712545847271

# (4486) Mithra

From: https://3d-asteroids.space/asteroids/4486-Mithra

Mean Diameter = 1.8490 km

Mean raduis = 0.9245 km

Scaled to: $\gamma$ = 1.1245972680856962

# (2495) Noviomagum

From: https://3d-asteroids.space/asteroids/2495-Noviomagum

Mean Diameter = 1.6960 km

Mean raduis = 0.848 km

Scaled to: $\gamma$ = 1.061747242223572

# (2962) Otto 

From: https://3d-asteroids.space/asteroids/2962-Otto

Mean Diameter = 17.011 km

Mean raduis = 8.5055 km

Scaled to: $\gamma$ = 10.89637979719658

# (399) Persephone

From: https://3d-asteroids.space/asteroids/399-Persephone

Mean Diameter = 39.566 km

Mean raduis = 19.783 km

Scaled to: $\gamma$ = 26.54152271850921

# (4570) Runcorn

From: https://3d-asteroids.space/asteroids/4570-Runcorn

Mean Diameter = 3.9440 km

Mean raduis = 1.972 km

Scaled to: $\gamma$ = 2.502147296572005

# (10288) Saville

From: https://3d-asteroids.space/asteroids/10288-Saville

Mean Diameter = 8.5520 km

Mean raduis = 4.276 km

Scaled to: $\gamma$ = 4.9301903600949455

# (4179) Toutatis

From: https://3d-asteroids.space/asteroids/4179-Toutatis

Mean Diameter = 5.4000 km

Mean raduis = 2.7000km

Scaled to: $\gamma$ = 1.7910733773064786

# (1838) Ursa

From: https://3d-asteroids.space/asteroids/1838-Ursa

Mean Diameter = 40.054 km

Mean raduis = 20.027 km

Scaled to: $\gamma$ = 22.92297044211607

# (245) Vera

From: https://3d-asteroids.space/asteroids/245-Vera

Mean Diameter = 75.949 km

Mean raduis = 37.9745 km

Scaled to: $\gamma$ = 55.18763465915349

# (890) Waltraut

From: https://3d-asteroids.space/asteroids/890-Waltraut

Mean Diameter = 28.376 km

Mean raduis = 14.188 km

Scaled to: $\gamma$ = 18.50441901028305

# (625) Xenia

From: https://3d-asteroids.space/asteroids/625-Xenia

Mean Diameter = 28.287 km

Mean raduis = 14.1435 km

Scaled to: $\gamma$ = 18.729161655946683

# (19848) Yeungchuchiu

From: https://3d-asteroids.space/asteroids/19848-Yeungchuchiu

Mean Diameter = 13.242 km

Mean raduis = 6.621 km

Scaled to: $\gamma$ = 7.9518021638388

# (1793) Zoya

From: https://3d-asteroids.space/asteroids/1793-Zoya 

Mean Diameter = 8.3480 km

Mean raduis = 4.174 km

Scaled to: $\gamma$ = 5.321921105048268